<a href="https://colab.research.google.com/github/N600XL/John-Mbatia/blob/main/LinerListsGithub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##Accessing Values in Lists

list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]
list1

print ("list1[0]: ", list1[0])
print ("list2[1:3]: ", list1[1:3])

list1[0]:  physics
list2[1:3]:  ['chemistry', 1997]

In [2]:
##Concatenation

list1 + list2

['physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5]

In [3]:
##updating lists

list = ['physics', 'chemistry', 1997, 2000]
print ("Value available at index 2 : ")
print(list[2])
list[2] = 2001
print ("New value available at index 2 : ")
print(list[2])

list

Value available at index 2 :
1997
New value available at index 2 :
2001

['physics', 'chemistry', 2001, 2000]

In [4]:
##deleting lists

list1 = ['physics', 'chemistry', 1997, 2000]
print (list1)
del list1[2]
print ("After deleting value at index 2 : ")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]